   body {
               margin: 0;
               padding: 0;
               background: url('../images/login.jpg') no-repeat;
               background-size: cover;
               font-family: Arial, sans-serif;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               min-height: 100vh;
           }

  .card {
       background-color: rgba(248, 248, 176, 0.7);
       color: #000;
       border-radius: 1rem;
   }