{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_post.css') }}">
    </head>

    <body>
    <div class="jumbo">
            <h1 class="display-4">Add Blog Post</h1>
    </div>

    <br>

    <div class="container">

     {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {{ ckeditor.load() }}

    <br>
     <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control")}}
            <br/>

                 {{ form.author.label(class="form-label") }}
                {{ form.author(class="form-control")}}
            <br/>

                 {{ form.slug.label(class="form-label") }}
                {{ form.slug(class="form-control")}}
            <br/>

               {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control", rows="10")}}
            <br/>

            <br/>
                {{ form.submit(class="btn btn-secondary") }}
        </form>
     </div>
</div>
    </body>
    </html>
{% endblock %}