{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    </head>
    <body>
        <h2>Dashboard</h2>

       <div class="card">
          <div class="card-header">
            {{ current_user.name }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Welcome to your Dashboard</h5>
            <p class="card-text">
                <strong>Name: </strong>{{ current_user.name }}<br>
                <strong>Username: </strong>{{ current_user.username }}<br>
                <strong>User id: </strong>{{ current_user.id }}<br>
                <strong>Email: </strong>{{ current_user.email }}<br>
            </p>
            <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-small">Logout</a>
          </div>
       </div>

    </body>
    </html>
    {% endblock %}
