<div class="fixed-top">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index')}}">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end ms-auto">

           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user', name='name') }} ">Profile</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('article', name='article') }} ">Article</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register', name='register') }} ">Register</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('aboutus') }}">About us</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
</div>